page-confirmation {

    button.backbtn {
        background-color: transparent;
        color: #fff;
        font-size: 24px;
        margin-top: 7px;
        float: right;
    }

    .btnblu {
        color: #fff;
        // border-radius: 40px;
        width: 100%;
        margin: 0 auto;
        display: table;
        text-transform: none;
        padding: 19px 0;
        font-size: 18px;
        font-weight: normal;
        box-shadow: 0 2px 8px 0 #000;
  }

    .size_adj {
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.6);
        // margin: 71% 0px 0px 43%;
}

//     .show-page{
   
//         background: rgba(0, 0, 0, 0.37) ;
//  }

    h5 {
        color: #fff;
        font-size: 22px;
    /* margin-left: 27px; */
        text-align: center;
        background-color: #326297;
        padding: 12px 0;
        margin:0;
}

p {
    background-color: #fff;
    padding: 48px 0;
    margin: 0;
    text-align: center;
    font-size: 20px;
    color: #727272;
}

.cnfrnbox {
    margin: 0 34px;
}

.show-page {
    background: rgba(0, 0, 0, 0.6);
    opacity: 0.7;
}

}